/* Adjust main-content padding top  to account for sub-menu behaviour */
.main-content {
	padding-top: 3rem;
	@include media-breakpoint-down(lg) { padding-top: 4rem; }
}

//hide hamburger from large screen sizes
.top-navigation .menu {
	display: none;
	@include media-breakpoint-down(lg) { display: block; }
}

/* Only displayed on large screen sizes */
#sub-menu {
    //To fix sub-menu, uncomment this!
    //position: fixed;
    padding-top: 3.5rem;
    @include media-breakpoint-down(lg) { display: none; }
}

/* Extra links for context menu/hamburger nav */
.additional-links {
	margin-top: 1.5rem !important;
    
    list-style: none;
    padding: 0;
    padding-top: 2rem;
    margin: 0;
    
    font-weight: 500;
    
    border-top: 1px solid $white;
    
    li {
        margin-bottom: 1rem;
    }
    
    a { text-decoration: none; }
    a:hover { text-decoration: underline; }
}

/* Style buttons as links */
.right-nav-simple {
    
    h1 {
        font-size: 1.5rem;
        padding: 0.25rem 1.5rem 0.75rem 1.5rem;
        margin: 0;
        
         /* Hide h1 at smaller sizes */
        @include media-breakpoint-down(lg) {
            display: none;
        }
    }
    
    .nav-link {
        border: 0;
        background-color: $underlay-grey;
        width: 100%;
        padding: 0.75rem 2rem 0.75rem 2rem;
        text-align: left;

        &:hover {
            text-decoration: underline;
            color: $rmit-blue;
        }
    }  
    
    .selected {
        border-left: 0.25rem solid $red;
        padding-left: 1.75rem;
        background-color: $underlay-selected;
    }
}

/* Do apa indenting on text */
.hanging-indent {
    padding-left: 2rem;
    text-indent: -2rem;
}

.footnote-indent{
	padding-left: -2rem;
 	text-indent: 2rem;
}
.ieee-refs {
    padding-left: 2rem;
    text-indent: -2rem;
}
.centre-align{
	text-align: center !important;
}

.figure-text {
    @include type-small;
}

/* only displayed when hamburger menu is displayed */
.mobile-title {
    display: none;
    
    /* Show a title at the top of the page on mobile*/
    @include media-breakpoint-down(lg) {
        display: block;
        margin-top: 0;
        margin-bottom: 3rem;
        
        padding-top: 1rem;
        padding-bottom: 0.75rem;
        border-bottom: 1px solid $interface-grey;
        
        font-size: 1.25rem;
        
    }
    
    /* adjust padding to account for no logo tab overhang */
    @include media-breakpoint-down(md) {
        padding-top: 0;
    }
    
    /* make divider go full screen width */
    @include media-breakpoint-down(sm) {
        
        margin-left: -0.75rem;
        margin-right: -0.75rem;
        
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
}

.home-title {
    margin-top: 1.5rem;
    @include media-breakpoint-up(lg) {
        margin-top: 0;
    }
}

/* Display page-title and print button side by side */
.page-title {
	display: flex;
	justify-content: space-between;
	gap: 2rem;
	
	/* Remove h1 marginsd for this context (other elements with provide margins) */
	h2 {
		margin: 0; 
	}
	
	/* Fix button width to prevent flexbox from stretching button at small sizes */
	.btn-print {
		width: 94px;
	}
	
	/* Stack elements at smaller sizes */
	@include media-breakpoint-down(lg) {
		flex-direction: column;
		justify-content: flex-start;
        gap: 1rem;
	}
}

/* Cope with long links in accordion content */
.accordion-body a {
	overflow-wrap: break-word;
}

/* footer */
.footer-info {
	@include do-space(margin-top, md);
	
	p { @include type-small; 
		margin: 0;
	}
}

.footer-links {
	margin-top: 1.5rem !important;
}


