# EditorConfig helps developers maintain consistent coding styles across different editors and IDEs
root = true

# All files
[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Tab indentation for Makefiles
[Makefile]
indent_style = tab

# Specific settings for .md (Markdown) files
[*.md]
trim_trailing_whitespace = false
indent_size = 4

# PHP files
[*.php]
indent_size = 4