.accordion {
    @include do-space(margin-top, lg); 
    @include do-space(margin-bottom, lg); 
}

.accordion-item {
    border-color: $interface-grey;
    border-left: 0px;
    border-right: 0px;
    
    .accordion-header {
        margin: 0px;    //suppress the 40px margin-top found by default
    }

    .accordion-button {

        @include link-feature;
        font-size: 1.125rem;

        padding: 1rem 0 1rem 0;

        @include media-breakpoint-up(md) { 
            font-size: 1.25rem;
        }  
    }

    .accordion-button:hover, .accordion-button:not(.collapsed):hover {
		@include link-feature-hover;
    }


    .accordion-button:not(.collapsed) {
        background-color: $white;
        box-shadow: inset 0 0px;
    }

    .accordion-button::before {
        flex-shrink: 0;
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
        content: "";
        @include carat;
        transition: transform .2s ease-in-out;
    }

    .accordion-button::after {
        display: none;
    }

    .accordion-button:not(.collapsed)::before {

        transform: rotate(-180deg);
    }
    
    /* 
    Change background colour and add text underline. 
    Focus state is retained when accordion is expanded until user clicks elsewhere.
    */
    .accordion-button:focus {
        background-color: $underlay-grey;
        text-decoration:underline;
        box-shadow: 0 0 !important;
    }

    .accordion-body {
        padding: 0.5rem 0 0 0;
        @include do-space(margin-bottom, lg); 

        > first-child {
            @include do-space(margin-top, zero);   
        }
    }
}

.accordion-item:first-of-type .accordion-button, 
.accordion-item:last-of-type  .accordion-button {
    border-radius: 0px !important;
}

.accordion-white {
    .accordion-item {
        border-color: $white;
        background-color: $rmit-blue;
    }
    
    .accordion-button, .accordion-button:hover, .accordion-button:not(.collapsed):hover {
        color: $white;
        background-color: $rmit-blue;
    }
    
    .accordion-button::before {
        @include carat-white;
    }
    
    /* 
    Just change text underline. 
    Focus state is retained when accordion is expanded until user clicks elsewhere.
    */
    .accordion-button:focus {
        background-color: $rmit-blue;
        text-decoration:underline;
        box-shadow: 0 0 !important;
    }
    
    .accordion-button:not(.collapsed) {
        background-color: $rmit-blue;
    }
    
    .accordion-body {
        background-color: $rmit-blue;
        color: $white;
    }
}


.transcript {
	border: 0px;
	border-bottom: 1px solid $interface-grey;
	max-width: 40rem;	/* Useful if transcript is not wraped in figure tag */
	
    
    .accordion-button {

        font-size: 1rem !important;
        @include link-normal;

        padding: 0.5rem 0 1rem 0;

        @include media-breakpoint-up(md) { 
            font-size: 1.125rem !important;
        } 
        
        &:hover {
            background-color: $white !important;
			@include link-normal-hover;
        }
    }
        
    .accordion-button::before {
        margin-right: 0.5rem !important;
    }
    
    .accordion-body p {
        font-size: 0.9375rem !important;
    }

}

figure .transcript {
	border-bottom: 0px;	/* Border included in figure itself */
}


.nav-accordion {
    border: 0;
    
    .accordion-button {
        background-color: $underlay-grey !important;
        font-size: 1.125rem !important;

        padding: 0.75rem 0 0.75rem 0;

        @include media-breakpoint-up(md) { 
            font-size: 1.25rem !important;
        }   
    }
        
    .accordion-button::before {
        margin-left: 0.5rem !important;
        margin-right: 0.5rem !important;
    }
	
	.accordion-button:hover, .accordion-button:not(.collapsed):hover {
        @include link-feature-hover;
    }
    
    .accordion-body {
        padding: 0 0 0.5rem 0;
        margin: 0;
        background-color: $underlay-grey;
    }
}
