@charset "UTF-8";
/* CSS Document */
body {}
nav {
	border:none !important;
}
.topnavbar .a {
	colour: #ffffff !important;
}
.navbar {
	background: #000054 !important;
	font-family: 'Museo500',Helvetica, Arial, 'sans-serif' !important;
	colour: #ffffff;
	border:hidden !important;
}
.mynavtabs {
	margin-top: 3px !important;
    font-weight: 500;
    color: #000054;
    background: #ffffff !important;
	outline: hidden !important;
    padding: 12px 12px 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-bottom: solid 4px #e61e2a !important;
	border-width: 0px 0px 4px 0px !important;
	border-top: hidden !important;
	border-bottom-style: inset !important;
}

.mynavtabs .layer {
  	color: #ffffff;
  	font-weight: 500;
  	position: absolute;
  	bottom: -98%;
  	display: flex;
  	flex-basis: 100%;
  	width: 100%;
  	justify-content: center;
  	align-items: center;
  	height: 100%;
  	left: 0;
  	padding: 12px 12px 10px;
  	background-color: #e61e2a;
	border-width: 0px 0px 0px 0px !important;
}
@media (min-width: 768px) {
  .mynavtabs:not(.active) .layer {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
  }
}
@media (max-width: 767px) {
  .mynavtabs:not(.active) .layer {
    transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
  }
}
.mynavtabs:hover .layer {
  	bottom: 0;
}
.mynavtabs:hover {
  	text-decoration: none;
	outline: hidden;
}
.mynavtabs:focus {
  	background: #e61e2a !important;
    color: #ffffff !important;
	text-decoration: none !important;
	outline: hidden !important;
}
.nav-tabs, .nav-tabs:focus,
li.nav-item, li.nav-item:focus,
.nav-link, .nav-link:focus {
	outline: hidden !important;
	border: none !important;
}
.nav-link.active {
	background: #e61e2a !important;
    color: #ffffff !important;
	text-decoration: none !important;

}

.myleftpills {
	text-align: left !important;
	background: #ffffff !important;
    color: #000054 !important;
    font-size: 1.1rem;
    transition-duration: 0.2s;
}
.myleftpills:hover {
	color: #454545 !important;
	background: #b3b5b0 !important;
	border: hidden;
}
.myleftpills:focus {
	color: #454545 !important;
	background: #b3b5b0 !important;
	border: #FAC800 2px thick !important;
	outline: #fac800 2px thick !important;
}
.btn:focus {
	border: #FAC800 2px thick !important;
	outline: #fac800 2px thick !important;
}
.myleftpills.active {
	color: #ffffff !important;
	background: #000054 !important;
}
.easyaccbutton {
	background: #e3e5e0 !important;
	color: #000054 !important;
}
.easyaccbutton:hover, 
.easyaccbutton:focus {
	background:#b3b5b0 !important;
	color: #454545 !important;
}
.easyaccbutton.active {
	background: #fac800 !important;
	color: #000054 !important;
	font-weight: 600;
}
button.easyaccbutton:not(.collapsed) {
background: #fac800 !important;
color: #000054 !important;
	font-weight: 600;
}
.accordion-item {
	border: hidden !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
h4{
	font-size: 1.1rem;
	font-weight: 500;
	color: #000054;
}
h5{
	font-size: 1rem;
	font-weight: 500;
	color: #000054;
}
blockquote{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif" !important;
	margin-left: 30px;
}
.accordion-button{
	background-color: #e3e5e0 !important;
}
.collapsed {
	background-color: #f8f8fa !important;
}
.rmitbutton {
      border: hidden;
      padding: 10px 24px;
      border-radius: 36px;
      background: #000054;
      color: #ffffff;
      font-size: 0.9rem;
      transition-duration: 0.4s;
  }
.rmitbutton:hover, 
.rmitbutton:focus {
      background-color: #fac800 !important;
      color: #000054 !important;
  }
.notabutton{
      border: hidden;
      background: #ffffff;
      color: #000054;
      font-size: 0.9rem;
      transition-duration: 0.2s;
  }
.notabutton:hover,
.notabutton:focus {
      color: #E61E2A;
  }
.printtitle {
	display: none;
	visibility: hidden;
}
.footerarea {
	text-align: center;
}
.footerlinks {
	color: #000054;
	text-decoration: none;
	font-size: 0.9rem;
}
.footerlinks:hover,
.footerlinks:focus {
	color: #e61e2a;
	text-decoration: underline;
}
/** tooltip styles
  * based on http://www.flatypo.net/tutorials/how-to-create-animated-tooltips-css3-hiperlink/ 
 **/
a.atooltip{
  position: relative;
  display: inline;
}
a.atooltip:after{
  display: block;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 20%;
  opacity: 0;
  content: attr(data-tool); /* might also use attr(title) */
  height: auto;
  min-width: 200px;
  padding: 5px 8px;
  z-index: 999;
  color: #fff;
  text-decoration: none;
  text-align: center;
  background: rgba(0,0,0,0.85);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

a.atooltip:before {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
  left: 50%;
  bottom: 0px;
  opacity: 0;
  content: "";
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: rgba(0,0,0,0.85) transparent transparent transparent;
}
a.atooltip:hover:after{ visibility: visible; opacity: 1; bottom: 30px; }
a.atooltip:hover:before{ visibility: visible; opacity: 1; bottom: 24px; }
a.atooltip:focus:after{ visibility: visible; opacity: 1; bottom: 30px; }
a.atooltip:focus:before{ visibility: visible; opacity: 1; bottom: 24px; }

a.atooltip.aanimate:after, a.atooltip.aanimate:before {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* accordion fix to resolve whitespace created by opacity: 0 used to improve accessibility over display: none for accordions. */ 
.fade:not(.show) {
  height: 0;
}

