@mixin link-feature {
  text-decoration: none;
  color: $rmit-blue;
}

@mixin link-feature-hover {
  text-decoration: underline;
  color: $blue-hover;
}

@mixin link-normal {
  text-decoration: underline;
  color: $rmit-blue;
}

@mixin link-normal-hover {
  text-decoration: none;
  color: $blue-hover;
}

a {
  @include link-normal;
}

a:hover {
  @include link-normal-hover;
}

a.long-link {
  word-break: break-all;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: $rmit-blue;
  text-decoration: none;
}

a:not([href]):not([class]):hover {
  text-decoration: underline;
}

/* Visited links - NOT IN USE AT THIS TIME */
/*a:visited {
	color: $blue-70;
}

p a:visited {
	color: $blue-70;
}

p a:visited:hover {
	color: $blue-hover;
}*/

.link-large {
  display: flex;
  align-items: center;

  @include type-lead;
  @include link-feature;
  margin-top: 1.25rem;

  padding: 0;
  border: 0;
  width: fit-content;
}

.link-large:hover {
  background: none;
  @include link-feature-hover;
}

.link-large::after {
  @include carat;
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  margin-left: 0.25rem;
  transform: rotate(-90deg);
}

@mixin link-list-base {
  @include do-space(margin-top, xs);
  @include do-space(margin-bottom, xs);

  //ul {
  padding: 0;
  list-style-type: none;
  //}

  li {
    display: flex;
    align-items: center;
    @include type-lead;
    padding: 0;
    margin-bottom: 0.5rem;
  }

  li::before {
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    transform: rotate(-90deg);
  }

  a {
    @include link-feature;
  }

  a:hover {
    @include link-feature-hover;
    text-decoration: underline;
  }
}

.link-list {
  @include link-list-base;
  li:before {
    @include carat;
  }
}

.link-list-white {
  @include link-list-base;

  li:before {
    @include carat-white;
  }
  li,
  a,
  a:hover {
    color: $white;
  }
}

.keywords {
  @include do-space(margin-top, lg);

  h5 {
    margin-top: 0;
  }

  ul {
    margin: 0;
    padding: 0;

    li:first-child {
      padding: 0;
    }

    li {
      display: inline;
      padding-left: 3rem;
    }

    a {
      @include link-feature;
    }

    a:hover {
      @include link-feature-hover;
    }
  }
}
