


// icons should be designed in 32x32 box and kept within a 20x20 area within
// Convert the following character before placing svg code into content attribute:
// < - %3C
// > - %3E
// # - %23
// colours need to put in manually :(
// accent-colour (RMIT Red) - %23e61f2a
// accent colour dark - %23E6636A


// print button

.btn-print, .btn-embed {
   @extend .btn-icon;
}

.btn-print::before { 
    content: url("data:image/svg+xml,%3Csvg data-name='Layer 6' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23e61f2a;stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.5px;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M9.44,19.5h-1.49c-1.07,0-1.94-.78-1.94-1.75v-3.5c0-.97.87-1.75,1.94-1.75h16.11c1.07,0,1.94.78,1.94,1.75v3.5c0,.97-.87,1.75-1.94,1.75h-1.29'/%3E%3Crect class='cls-1' x='10' y='16.5' width='12' height='8' rx='1.75' ry='1.75'/%3E%3Cpath class='cls-1' d='M10,11.75v-2.5c0-.97.85-1.75,1.91-1.75h8.18c1.05,0,1.91.78,1.91,1.75v2.5'/%3E%3Ccircle class='cls-1' cx='8.4' cy='14.9' r='.07'/%3E%3C/svg%3E");
}

// Dark mode
@include color-mode(dark) {
    .btn-print::before { 
        content: url("data:image/svg+xml,%3Csvg data-name='Layer 6' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23E6636A;stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.5px;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M9.44,19.5h-1.49c-1.07,0-1.94-.78-1.94-1.75v-3.5c0-.97.87-1.75,1.94-1.75h16.11c1.07,0,1.94.78,1.94,1.75v3.5c0,.97-.87,1.75-1.94,1.75h-1.29'/%3E%3Crect class='cls-1' x='10' y='16.5' width='12' height='8' rx='1.75' ry='1.75'/%3E%3Cpath class='cls-1' d='M10,11.75v-2.5c0-.97.85-1.75,1.91-1.75h8.18c1.05,0,1.91.78,1.91,1.75v2.5'/%3E%3Ccircle class='cls-1' cx='8.4' cy='14.9' r='.07'/%3E%3C/svg%3E");
    }
}

// embed button

.btn-embed::before {
    content: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cstyle%3E.cls-1 { fill: none; stroke: %23e61f2a; stroke-linecap: round; stroke-miterlimit: 10; stroke-width: 1.5px; }%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M20.5,11.5l4.13,3.7c.49.44.49,1.16,0,1.6l-4.13,3.7'/%3E%3Cpath class='cls-1' d='M11.5,11.5l-4.13,3.7c-.49.44-.49,1.16,0,1.6l4.13,3.7'/%3E%3Cline class='cls-1' x1='18' x2='14' y1='9.5' y2='22.5'/%3E%3C/svg%3E");
}


// Dark mode
@include color-mode(dark) {
    .btn-embed::before {
        content: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cstyle%3E.cls-1 { fill: none; stroke: %23E6636A; stroke-linecap: round; stroke-miterlimit: 10; stroke-width: 1.5px; }%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M20.5,11.5l4.13,3.7c.49.44.49,1.16,0,1.6l-4.13,3.7'/%3E%3Cpath class='cls-1' d='M11.5,11.5l-4.13,3.7c-.49.44-.49,1.16,0,1.6l4.13,3.7'/%3E%3Cline class='cls-1' x1='18' x2='14' y1='9.5' y2='22.5'/%3E%3C/svg%3E");
    }
}




//23E6636A