.form-label {
	margin: 7px 1rem 0.5rem 0;
	@include media-breakpoint-up(md) { margin-top: 0.25rem; }
}

.form-check-inline {
    margin-right: 2rem;
}

.form-check-input {
	margin: 6px 0.75rem 0 0;
    border-color: $interface-grey;
	
	@include default-focus;
}

.form-control, textarea, input 
{ @include default-focus; }

// Dark mode
@include color-mode(dark) {

    .form-control,
    .form-check-input,
    .form-select,
    textarea,
    input
    { @include default-focus('dark'); }

	.form-check-input:checked {
		background-color: #1250a1; //$link-color-dark;
		border-color: $interface-grey;
	}
}

//Recolour info icon for dark mode

@mixin info-icon-dark ($prop: background-image) {
    #{$prop}: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23E6636A'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23E6636A' stroke='none'/%3e%3c/svg%3e");
}

@include color-mode(dark) {
    .was-validated .form-select:invalid:not([multiple]):not([size]), .was-validated .form-select:invalid:not([multiple])[size="1"], .form-select.is-invalid:not([multiple]):not([size]), .form-select.is-invalid:not([multiple])[size="1"] {
        @include info-icon-dark(--bs-form-select-bg-icon);
    }

    .was-validated .form-control:invalid, .form-control.is-invalid {
        @include info-icon-dark;
    }
}

// Checklist option, expected mark-up is as follows:
//<div class="checklist">
//	<div><input class="form-check-input" type="checkbox" id="checkbox1"><label for="checkbox1">Label 1</label></div>
//	<div>Label 2</div>
//	<div><input class="form-check-input" type="checkbox" id="checkbox3"><label for="checkbox3">Label 3</label></div>
//</div>

.checklist {
    
    @include do-space(margin-top, sm); 
    @include do-space(margin-bottom, sm);
    
    div {
        display: flex;
        align-items: top;
        margin-bottom: 1.5rem;
    }

    .checklist label {
        margin-left: 0.75rem;
    }
}

